html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 75px 150px;
    border: 0;
    box-sizing: border-box;
    font-family: 'DejaVu Sans Mono', monospace;
}

.client {
    display: none;
}

.server {
    display: none;
}

.section {
    margin: 20px;
}

.toggle-div {
    border-left: 1px solid black;
    padding: 0px 20px;
    margin: 20px 0px;
}

.toggle-button {
    background: none;
    background-color: #53d676;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'DejaVu Sans Mono', monospace;
    padding: 5px;
    cursor: pointer;
}
