<html>
    <head>
        <title>
            Chat
        </title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <div id="name-container">
            <form id="name-form">
                <input class="text" id="name-text" type="text" name="name"><input class="button" id="name-button" type="submit" name="submit" value="Submit">
            </form>
        </div>
        <div id="chat-container">
            <textarea class="text" id="chat-log" readonly></textarea>
            <br>
            <form id="chat-form">
                <input class="text" id="chat-text" type="text" name="message"><input class="button" id="chat-button" type="submit" name="submit" value="Send">
            </form>
        </div>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/js/chat.js"></script>
    </body>
</html>
