{% macro render_toggle() %}
    <div class="toggle-div">
        <button class="toggle-button" onclick="toggle()">
        </button>
        {{ caller() }}
    </div>
{% endmacro %}

{% macro client() %}
    <div class="client">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro server() %}
    <div class="server">
        {{ caller() }}
    </div>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Websockets and Socket.IO
        </title>
        <link rel="stylesheet" type="text/css" href="/static/css/presentation.css">
    </head>
    <body>
        <div class="section">
            <h1>
                 Websockets
            </h1>
            <div class="section">
                <p>
                    The WebSocket protocol provides a framework for real-time, full-duplex communication, allowing both a client and a server to send and receive data in real time.
                </p>
                <p>
                    Websockets essentially replace HTTP requests commonly used for web server communication -- its verification handshake actually resembles closely the HTTP Upgrade request. Where HTTP requires separate requests to the server for every action and has no way for a server to communicate with its clients, websockets allow both.
                </p>
                <p>
                    The websocket connection relies on TCP, and websocket URIs are prefixed by ws:// or wss://, the equivalent of http:// and https:// respectively.
                </p>
            </div>
        </div>
        <hr>
        <div class="section">
            <h1>
                SocketIO
            </h1>
            <div class="section">
                <p>
                    While not exactly a websocket library, SocketIO is a JavaScript/Python framework that extends websocket functionality and makes it drastically easier to work with. It requires SocketIO on both the client and the server. In this example, we will use the SocketIO JavaScript client and the SocketIO-Flask server package.
                </p>
                <p>
                    SocketIO relies on the concept of passing packets between client and server. These packets can be strings, but more often they are formatted in JSON. Thus, packets on the client side (in JavaScript) are represented as JavaScript Objects (JSON = JavaScript Object Notation, after all); on the server side, they are represented as Python dictionaries.
                </p>
                <p>
                    The basic functions dealing with packet communications are on() and emit().
                </p>
                {% call render_toggle() %}
                    {% call client() %}
                        <h3>
                            socket.on(name, callback);
                        </h3>
                        <div class="section">
                            <p>
                                on() is a function that takes two parameters and begins listening for a packet from the server.
                            </p>
                            <p>
                                The name parameter specifies the name of the packet to listen for.
                            </p>
                            <p>
                                The callback parameter specifies the function to call upon receiving a packet of the above name. The function will be passed an argument containing the packet passed as a JavaScript object.
                            </p>
                        </div>
                        <h3>
                            socket.emit(name, packet);
                        </h3>
                        <div class="section">
                            <p>
                                emit() is a function that takes two parameters and emits a packet to the server.
                            </p>
                            <p>
                                The name parameter designates a name for the packet.
                            </p>
                            <p>
                                The packet parameter specifies the packet data as a JavaScript object. This data will be passed to the server listener.
                            </p>
                        </div>
                    {% endcall %}
                    {% call server() %}
                        <h3>
                            @socketio.on(name)
                        </h3>
                        <div class="section">
                            <p>
                                on() is a decorator that takes one parameter and listens for a packet from the client.
                            </p>
                            <p>
                                The name parameter specifies the name of the packet to listen for.
                            </p>
                            <p>
                                The function being decorated will be called upon receiving a packet of the specified name. It should take an argument, which will contain the packet as a Python dictionary.
                            </p>
                        </div>
                        <h3>
                            emit(name, packet)
                        </h3>
                        <div class="section">
                            <p>
                                emit() is a function that takes two parameters and sends a packet to all clients.
                            </p>
                            <p>
                                The name parameter specifies the name to send the packet under.
                            </p>
                            <p>
                                The packet parameter specifies the data to send in Python dictionary format.
                            </p>
                        </div>
                    {% endcall %}
                {% endcall %}
                <p>
                    These functions are all we need to get started with SocketIO.
                </p>
            </div>
        </div>
        <hr>
        <div class="section">
            <h1>
                Building a Basic Chat Client
            </h1>
            <p>
                We can use our newfound knowledge of SocketIO to build a basic chat client. Our chat client will need a server to process messages and connections from many clients.
            </p>
            {% call render_toggle() %}
                {% call client() %}
                {% endcall %}
                {% call server() %}
                {% endcall %}
            {% endcall %}
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/presentation.js"></script>
    </body>
</html>
